-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose
-dontoptimize

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Fragment
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.preference.Preference
-keep public class * extends android.view.View
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class com.android.vending.licensing.ILicensingService

-keep class * extends com.gettingmobile.goodnews.settings.SettingsHandler
-keep class com.gettingmobile.goodnews.settings.storagestatistics.StorageStatistics {*;}

-ignorewarnings
-keep class com.mobclix.** {*;}
-keep class com.google.ads.** {*;}
-keep class com.google.gson.** {*;}
-keep class com.millennialmedia.** {*;}

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

-assumenosideeffects class android.util.Log {
    public static *** d(...);
    public static *** v(...);
}

-renamesourcefileattribute SourceFile
-keepattributes SourceFile,LineNumberTable

# guice
-keep class com.google.inject.** { *; }
-keep class javax.inject.** { *; }
-keep class javax.annotation.** { *; }
-keep class roboguice.** { *; }
-keepclassmembers class * { @com.google.inject.Inject <init>(...); }
-keepattributes *Annotation*
-keepattributes Signature

#
# Actionbar Sherlock
#
-keep class android.support.v4.app.** { *; }
-keep interface android.support.v4.app.** { *; }
-keep class com.actionbarsherlock.** { *; }
-keep interface com.actionbarsherlock.** { *; }

#
# special WebView
#
-keep interface android.webkit.WebViewClassic$TitleBarDelegate {*;}
-keep class com.gettingmobile.android.widget.WebViewWithTitle {*;}
-keep class com.gettingmobile.android.widget.JellyBeanWebViewWithTitle {*;}